[submodule "lib/httpserver"]
	path = lib/httpserver
	url = git@github.com:indraminsk/tool_http_server.git
[submodule "lib/logger"]
	path = lib/logger
	url = git@github.com:indraminsk/tool_logger_slogger.git
